<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form action="/project-add-success" method="POST">
    <label>Enter Project Title
          <input type="text" name="project_title">
      </label><br>
    <label>Enter Project Description
          <input type="textarea" name="project_description">
      </label><br>
      <label>Enter Max Grade
          <input type="text" name="max_grade">
      </label><br>
      <input type="submit" value="Add Project">
  </form>

</body>
</html>
